.page {
    height: 100%;
    background: #F9FAFC;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}

.page__header {
    height: 82px;
    background: rgb(19, 49, 139);
    grid-area: header;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    width: 100%;
    grid-area: main;
}

.page__footer {
    height: 130px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgb(15, 144, 77);
    grid-area: footer;
}

.footer__text {
    font-family: Inter;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ACB5BD;
}

.menu {
    width: 229px;
}

.component {
}

